---
---

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 

  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;

  vertical-align: top;

  background-repeat: no-repeat;
}

html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx){ 
    /* Retina-specific stuff here */
	font-size: 32px;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Roboto Slab', serif;
}

input, textarea {
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	color: #2babe1;
	text-decoration: none;
}

#header {
	overflow: hidden;
	margin: 0 auto;
	max-width: 1040px;
	position: relative;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1;

	h1 {
		background: white;
		display: inline-block;
		min-height: 1em;
		margin: 0.1em auto 0;
		padding: 0 0.25em;
		z-index: 2;
		font-size: 7em;
		font-weight: 500;
		&::after {
			background-color: #dd3b2a;
			content: '';
			height: 2px;
			left: 0;
			top: 0.8em;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
	}

	h2 {
		text-align: right;
		max-width: 695px;
		margin: -10px auto 0;
		width: 100%;
		color: #dd3b2a;
		font-size: 2em;
		font-style: italic;
		font-weight: 400;
	}

	nav {

  		vertical-align: middle;
  		margin: 0 auto;
		display: inline-block;

		ul, ul li, ul li a {
			display: block;
			padding: 0;
			margin: 0;
			list-style: none;
  			vertical-align: middle;
			color: #dd3b2a;
		}

		h1 {
			display: none;
		}

		ul {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: flex-start;
			align-content: flex-start;
			width: 20em;
			li {
				display: inline-block;
				margin: auto;
				padding: 0;
				a {
					text-align: center;
					padding: 1em 0.5em;
					text-decoration: none;
					position: relative;
					border: 1px rgba(0,0,0,0) solid;
					.icon {
						font-size: 2em;
					}
					 .tooltip {
						display: inline-block;
						width:0;
						overflow: hidden;
					}
					&:hover {
						border: 1px #dd3b2a solid;
						/*background-color: #444;*/
						border-radius: 0.5em 0;
						.tooltip {
							width: 5em;
						}
					}
				}
			}
		}
	}
}

aside#logo {
	width: 100%;
	height: 25em;
	overflow: hidden;
	text-align: center;
	position: relative;
	margin: 2.5em 0;
	img {
		width: 25em;
		height: 25em;
  		margin: 0 auto;
		display: inline-block;
		position: fixed;
		left: 50%;
		margin-left: -12.5em;

	}
}

main {
	background-color: rgba(255, 255, 255, 0.9);
	border-top: 5px solid #dd3b2a;
	border-bottom: 5px solid #2babe1;
	position: relative;
	width: 100%;
	z-index: 3;
	padding: 0;

	.main.author {
		padding-left: 4em;
		margin-bottom: 1.25em;
		display: block;
	}
	.tags, .pubdate {
		font-family: 'Open Sans Condensed', sans-serif;
		display: block;
	}
	.comments {
		padding: 0 1em;
	}
	.wrapper {
		padding: 1em;
		overflow: hidden;
		
		h1 {
			color: #dd3b2a;
		}
		.smallbox {
			display: block;
			width: 100%;
			padding: 0.25em;
			overflow: hidden;
			margin-bottom: 1em;

			border: 1px solid #dd3b2a;



			  -webkit-transition: all 0 ease;
			  -moz-transition:    all 0 ease;
			  -ms-transition:     all 0 ease;
			  -o-transition:      all 0 ease;
			  transition:         all 0 ease;

			&.twitter {
				height: 17em;
			}

			&.lastfm {
				min-height: 22.5em;
			}

			time,
			.author {
				font-family: 'Open Sans Condensed', sans-serif;
			}
			img {
				max-width: 100%;
				height: auto;
			}
			footer {
				text-align: right;
			}
			h1 {
				font-size: 1.5em;
			}
			h2 {
				font-size: 1.25em;
			}
			.instagramPic {
				img {
					width: 302px;
					height: 302px;
				}
			}

			.lastfmPic {
				img {
					width: 222px;
					height: 222px;
				}
			}
		}
	}
}

@media all and (min-width: 1000px) {
	main .wrapper {
		.smallbox, .smallbox.image {
			display: inline-block;
			width: 14.5em;

			&.image {
				width: 29.5em;
				min-height: 15em;
			}

			&.latestpost {
				width: 34.5em;
				min-height: 5em;
			}

			&.instagram {
				width: 19.5em;
				min-height: 20em;
			}
			&.github {
				width: 24.5em;
				min-height: 10em;
			}


		}
	}
}

#footer {
	overflow: hidden;
	width: 100%;
	background: #2babe1;
	border-top: 5px solid #edf6ff;
	padding: 1em;
	position: relative;
	z-index: 4;

	.metaInfo {
		border-right: 2px solid #edf6ff;
		float: left;
		/*margin-right: 2em;*/
		width: 50%;
	}

	aside {
		color: #edf6ff;
		&:not(.metaInfo) {
			margin-left: 50%;
			padding-left: 2em;
		}
		h1 {
			color: #00374f;
			font-size: 1.5em;
			margin-top: 0;
			font-weight: 500;
			line-height: 1.25em;
			margin: 0.5em 0;
		}
		a {
			color: #edf6ff;
		}
		ul {
			list-style: none;
			padding: 0;
			li {
				margin-bottom: 12px;
				display: block;
				a {
					color: #00374f;
					display: block;
				}
			}
		}
	}

}

aside#articledata {
	color: #edf6ff;
	background: #00374f;
	margin: 0;
	overflow: hidden;
	height: 4em;
	text-align: center;
	width: 100%;
	.data{
		color: #edf6ff;
		margin-right: 25px;
		vertical-align: -1em;
		a {
			color: #edf6ff;
			vertical-align: middle;
		}
	}
}