
<aside class="metaInfo">
	<h1>
		Awesome People, check them out!
	</h1>
	<ul>
		<li>Designer <a href="http://www.philippvons.altervista.org/">Philipp von Schlechtleitner </a></li>
		<li>Sculptor <a href="http://diegoperathoner.weebly.com/">Diego Perathoner </a></li>
		<li>Photographer <a href="http://lukasfurlan.com/">Lucas Furlan </a></li>
		<li>Musicians <a href="http://www.noluntas.com/">Nolunta's </a></li>
		<!--<li>Storyteller <a href="https://twitter.com/h3xtacy">h3xtacy </a></li>-->
		<li>Game Developer <a href="http://www.sophiehoulden.com/">Sophie Houlden </a></li>
		<li>Science Evangelist <a href="http://www.kirstensanford.com/">Dr. Kiki Sanford</a></li>
		<li>Concept Artist <a href="http://mathiaszamecki.deviantart.com/">Mathias Zamęcki</a></li>
		<li>Modern Artist <a href="http://www.simonperathoner.com/">Simon Perathoner</a></li><!--
		<li>Space Engineer <a href="https://twitter.com/tweetsoutloud">Bobak Ferdowsi</a></li>
		<li>Journalist <a href="http://craphound.com/">Cory Doctorow</a></li>-->
	</ul>
</aside>

<aside class="socials">
	<h1>
		Find me
	</h1>
	<ul>
		<li><a href="http://about.me/ramsesoriginal">about.me</a></li>
		<li><a href="{{site.url}}/about/">About me</a></li>
		<li><a href="https://www.google.com/?q=ramsesoriginal#q=ramsesoriginal">Google me</a></li>
	</ul>
</aside>

<aside class="Disclaimer">
	<h1>
		Disclaimer
	</h1>
	<p>This is my private homepage. Except when otherwise noted, conted is created by <a href="{{site.url}}/about/">me</a>, and is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. Except when otherwise noted, all opinions expressed here are mine, and don't represent anyone else's. All opinions WILL be subject to change, and I may or may not update old content accordingly, so if you disagree, instead of just thinking some insult, just let me know. I try my best to be a decent human being, but sometimes I screw up. I also hate writing disclaimers.</p>
</aside>