---
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ramsesoriginal</title>
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/style/mainstyle.css">
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/style/syntax.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lobster|Oswald:400,700|Open+Sans+Condensed:300,300italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,300,700,800,400,600' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/rss.xml">
</head>
<body>

	<header id="header" class="">
		<hgroup>
			<h1>ramsesoriginal</h1>
			<h2>sometimes even funny</h2>
		</hgroup>
		<nav>
			<h1>Find your way around here</h1>
			<ul>
				<li>
					<a href="{{ site.url }}/"><i class="fa fa-home"></i><span class="tooltip">Home</span></a>
				</li>
				<li>
					<a href="{{ site.url }}/blog/"><i class="fa fa-newspaper-o"></i><span class="tooltip">Blog</span></a>
				</li>
				<li>
					<a href="{{ site.url }}/projects/"><i class="fa fa-rocket"></i><span class="tooltip">Projects</span></a>
				</li>
				<li>
					<a href="{{ site.url }}/about/"><i class="fa fa-user"></i><span class="tooltip">About</span></a>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		{{ content }}
	</main>
	<footer id="footer">
		{% include footer.html %}
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
	<script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
	<script src="{{ site.url }}/js/flickr.js"></script> 
	<script src="{{ site.url }}/js/last.fm.js"></script> 
	<script src="{{ site.url }}/js/twitter.js"></script> 
	<script src="{{ site.url }}/js/instagram.js"></script> 
	<script src="{{ site.url }}/js/masonryStarter.js"></script> 
</body>
</html>